html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

#footer-footer {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
}

main {
  flex: 1 0 auto;
}

a {
  color: white;
}

a:hover {
  color: black;
}

footer {
  flex-shrink: 0;
}