.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 16px;
}

.card {
    flex: 1;
    background: #4354;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    opacity: 75%;
}

.card:hover{
    opacity: 100%;
}

.card-header{
    color: aqua;
    text-align: center;
    border-bottom: 1px solid black; 
}

.card-body{
    padding-top: 16px;
    padding-bottom: 16px;
}

.card-anchor-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center
}