html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
    background: gray;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: baseline;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

#home {
    font-size: 26px;
}

footer{
    padding: 0;
    margin: 0;
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

footer p {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    color: black;
    text-decoration: none;
}