#tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#profileForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#usernameHeader {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

table {
    table-layout: fixed;
    text-align: center;
    width: auto;
}