.entry{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.button-group{
    background-color: royalblue;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

button{
margin: 1px;}