.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.entry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.button-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}