.collection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.typeEntry {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.recordEntry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;;
    align-items: baseline;
}

.button-group {
    background-color: royalblue;
    display: flex;
    flex-direction: row;
}

button {
    margin: 1px;
}

h2, h3 {
    padding: 0;
    margin: 0;
}

h3 {
    text-align: center;
}